.git
.venv
.venv311
__pycache__
*.pyc

Dataset_creation_scripts/
Data/
README.md
LICENSE
INSTALL.md



kubernetes/

*.ipynb 
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

.dvc/cache

mlruns

kubernetes

kitops

Dockerfile
Dockerfile.streamlit

*.log
